b {
font-size: 6px;
}
body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;

  color: black;
}


.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style-type: none;
}

.load-more.is-hidden {
  display: none;
}

.search-form {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(100, 149, 237, 0.5);
  display: flex;
  justify-content: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.search-form input {
  width: 200px;
  height: 25px;
  font-size: 15px;
  border-radius: 15px;
  border-color: transparent;
}
.search-form input:focus {
  outline: none;
  border: 1px solid rgb(57, 67, 130);
}

.search-form button {
  color: white;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(57, 67, 130);
  border-color: transparent;
  transition: background-color var(--transition-duration-funktion);
}

.search-form button:hover,
.search-form button:focus {
  background-color: rgb(42, 179, 174);
}
.gallery {
  width: 100%;
  padding: 100px 15px 20px 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.link-lightbox {
  min-width: 100px;
  width: calc((100% - 60px) / 4);
  text-decoration: none;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
  color: black;
  /* transition: transform 400ms ease-out; */
}

.link-lightbox:hover,
.link-lightbox:focus {
  cursor: zoom-in;
  /* transform: scale(1.03); */
}

.photo-card {
  overflow: hidden;
}

.photo-card img {
  width: 100%;
  /* height: 230px; */
  transition: transform 400ms ease-out;
}

.photo-card img:hover {
  transform: scale(1.15);
}
.info {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  padding: 8px 4px;
  background-color: cornflowerblue;
  color: white;
}

.info-item {
  text-align: center;
}

.load-more {
 /* display: block; */

 margin: 0 auto;
  background-color: cornflowerblue;
  padding: 5px 5px;
font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  font-style: inherit;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: rgb(57, 67, 130);
  border-radius: 15px;
  transition: background-color 250ms linear;
}

.load-more:hover,
.load-more:focus {
  background-color: rgb(42, 179, 174);
}

.btn-to-top {
  display: none;
}

.btn-to-top.visible {
  display: block;

  padding: 10px 22px;
  background-color: gray;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  font-style: inherit;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  transition: background-color var(--transition-duration-funktion);
}
.btn-to-top.visible:hover,
.btn-to-top.visible:focus {
  background-color: dodgerblue;
}

.btn-wrapper {
  position: fixed;
  z-index: 1000;
  right: 100px;
  bottom: 100px;
}
